* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  h1 { 
    color: #595f87;
    font-family: 'Rouge Script', cursive; font-size: 50px; 
    font-weight: normal; 
    line-height: 48px; margin: 50px 0 50px 0 ; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34; 
  }

  .container {
    text-align: center;
  }
  
  .info-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 65vmin;
    margin: 0 0 10px 0;
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px; 
    font-weight: 700; 
  }


  div {
    font-weight: 800;
  }
  
  .game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #000;
    padding: 10px;
    min-height: 470px;
  }
  
  .card {
    width: 100%;
    height: 100px;
    background-color: #ddd;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }

  .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1px;
    color: white;
    transition: opacity 0.3s ease;
    background-size: 110% 100%;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .card.flipped {
    transform: rotateY(180deg);
  }

  .card-back {
    transform: rotateY(180deg);
  }
  
  .card-front {
    opacity: 0;
  }
  
  .flipped .card-front {
    opacity: 1;
  }
  
  .flipped {
    background-color: #fff;
  }
  
  #result-message {
      color: #595f87;
      font-size: 40px; 
      font-weight: normal; 
      text-align: center; 
      text-shadow: 1px 1px 2px #082b34; 
  }
  
  #moves-counter,
  #timer,
  #bad-guesses {
    margin-bottom: 10px;
  }
  
  button {
    justify-self: center;
    background-color: white;
    border: 0.2vmin solid black;
    border-radius: 2vmin;
    outline: none;
    color: #111; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 20px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 15px; 
    padding: 0px 15px; 
    text-align: center; 
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  